* {
  background-color: white;
}

body {
  background-color: white;
  width: 1680px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  flex-direction: row;
  font-size: 10px;
  font-weight: bold;
  border-color: whitesmoke;
  margin-bottom: 1px;
  border-bottom: solid;
  padding: 14px;
}

.logoStart {
  width: 90px;
  height: 80px;
}

.header-l {
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-r {
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-r a {
  text-decoration: none;
  padding: 5px;
}

li {
  display: inline-flex;
  color: black;
  text-decoration: none;
  padding: 0px 15px;
  margin: 5px;
}

link {
  color: white;
}

.small-container {
  display: flex;
  margin-right: 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
}

.small-container li a {
  font-size: 18px;
  text-decoration: none;
}

img {
  display: flex;
  width: 100%;
  height: 100vh;
  aspect-ratio: 4 / 3 auto;
  margin: 0 auto;
}

.text-overlay {
  position: absolute;
  top: 60.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
  font-weight: lighter;
  color: red;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  background-color: transparent;
}

.p-live-push-link_div_up {
  display: flex;
  font-size: 28px;
  color: black;
  width: 700px;
  margin: 0 auto;
  padding-top: 105px;
}

.p-live-push-link_div2_down {
  display: flex;
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.logo_start {
  width: 70px;
  height: 50px;
}

.divSlike {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  position: relative;
}

.liva {
  margin: 0 auto;
  width: 40%;
  height: 60%;
  z-index: 2;
  position: absolute;
  top: center;
  left: -100px;
}

.desna {
  width: 35%;
  height: 40%;
  border: 300px solid yellow;
  z-index: 1;
  position: absolute;
  top: 50;
  right: 0;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.makingMusicUp {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  width: 800px;
  padding: 10px;
}

.makingMusicDown {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 800px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}

.textupdownVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  align-items: center;
  height: 100vh;
  width: 50vw;
  padding-bottom: 0px;
}
.space30px {
  padding: 30px;
}

.allaround2ndtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
}

.boldtextUp {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
.container {
  display: flex;
  height: 90vh;
}
.left {
  background-color: turquoise;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left img {
  width: 50%;
  margin: 10px;
  height: 40%;
}
.right {
  background-color: white;
  width: 40%;
  height: 70%;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
.right img {
  width: 80%;
  height: 80%;
  display: flex;
  position: relative;
  right: 30%;
}

.weBeliveDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
}
.webeliveText {
  width: 80%;
  height: 60%;
  font-weight: bolder;
  font-size: 25px;
}
.ratherThen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}
.ratherThen {
  width: 80%;
  height: 60%;
  font-weight: thinner;
  font-size: 18px;
}

#videoHi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.webeliveTextt {
  font-weight: bolder;
  font-size: 25px;
  width: 80%;
}
.ratherThenn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 0 auto;
  padding: 10px;
}

.lastPhotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
}

.womann {
  width: 100%;
  height: 100%;
}
.backgroundBlue {
  background-color: rgba(15, 2, 255, 0.379);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.backgroundBlue p {
  width: 40%;
  height: 50%;
  margin: 10px;
  font-size: 28px;
  background-color: transparent;
  color: black;
}
.lastImg {
  width: 100%;
  height: 100%;
}
.backgroundBlue a {
  width: 40%;

  background-color: transparent;
  color: rgb(17, 0, 255);
  font-size: 20px;
  font-weight: bolder;
}
.footerLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid grey;
}

.divBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 50%;
}
